<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//EjemploHibernate/EjemploHibernate Mapping DTD 3.0/EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Propiedades que vamos a utilizar para la conexión-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/hibernateBD</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Clases que vamos a utilizar-->
        <!-- Usaremos Clase en caso de JPA, Usaremos Recurso en caso de EjemploHibernate-->
        <!-- Mapeo EjemploHibernate - Resource (XML)-->
        <mapping resource="EjemploHibernate/Models/Profesor.hbm.xml"></mapping>
        <mapping resource="EjemploHibernate/Models/Direccion.hbm.xml"></mapping>
        <mapping resource="EjemploHibernate/Models/Despacho.hbm.xml"></mapping>
        <mapping resource="EjemploHibernate/Models/Email.hbm.xml"></mapping>
        <!-- Mapeo JPA - Class (clase) -->
        <mapping class="EjemploHibernate.Models.Profesor"></mapping>
        <mapping class="EjemploHibernate.Models.Direccion"></mapping>
        <mapping class="EjemploHibernate.Models.Despacho"></mapping>
        <mapping class="EjemploHibernate.Models.Email"></mapping>
    </session-factory>
</hibernate-configuration>